
.poster {
   border-radius: 10px;
}
.card_title{
   width: 100%;
   text-align: center;
   font-size: 17px;
   padding: 8px 0;
}
.sub_title{
   display: flex;
   justify-content: space-between;
   padding-bottom: 3px;
   padding: 0 2px;
   padding-bottom: 3px;
}


  
