* {
   scroll-behavior: smooth
}
.header {
   width: 100%;
   cursor: pointer;
   position: fixed;
   text-transform: uppercase;
   background-color: #2b2c2e;
   font-size: 28px;
   padding: 5px 0px 5px 15px;
   box-shadow: 0px 1px 5px #0000;
   color:rgb(156, 8, 94);
   z-index: 100;
   font-weight: 700;
}
@media (max-width:1000px) {
   .header {
      padding-top: 15px;
      font-size: 40px;
   }
}
@media (max-width:500px) {
   .header {
      padding-top: 15px;
      font-size: 22px;
   }
}